.header {
  background: #000;
  color: #fff;
}

body {
  background-color: #efefef;
}

canvas {
  border-color: purple;
  background-color: #fff;
}

input, select, button {
  background-color: #fff;
  color: #000;
}

.serial-input input {
  border-color: purple;
}

.serial-input input:disabled {
  border-color: #ccc;
}

.timestamp {
  color: #999;
}

#notSupported {
  background-color: red;
  color: white;
}

.log {
  border-color: purple;
  background-color: #fff;
  color: #333;
}

.calibration-container {
  border-color: purple;
  background-color: #fff;  
}

